@import url("/test-site/styles/HOME/home.css");

hr {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 0.5rem 1rem;
}

p {
  text-indent: 1.5rem;
  padding: 0rem 1rem;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
  padding: 1rem 1rem;
}