/* table, hr, nav */

/*Tabelas*/
table {
    margin: 1rem auto;
    width: 90%;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}


/*OUTROS*/
hr {
    border: none;
    height: 2px;
    background-color: var(--hr_color);
    margin: 0.5em;
}