/* .layout, .sidebar, .toc, main, header, footer */

/*nav - barra superior com logo e menu de navegação*/
header nav {
    height: 56px;
    background: #161618;
    border-bottom: 1px solid var(--dark_gray);
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 24px;
    flex-shrink: 0;
    background-color: var(--nav_color);
}

header nav a:hover {
    border-bottom: 2px solid white;
}

header nav a {
    color: white;
    text-decoration: none;
}


/*Lateral Esquerda*/
.sidebar {
    width: 240px;
    flex-shrink: 0;
    overflow-y: auto;
    border-right: 1px solid var(--dark_gray);
    background-color: var(--gray);
    padding: 0.5rem 0;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li a {
    display: block;
    font-size: 0.85rem;
    padding: 0.3rem 10px;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: var(--transparent_white);
}

.sidebar h2 {
    padding: 0.5rem 5px;
    text-align: center;
}


/*Lateral Direita*/
.toc {
    width: 220px;
    flex-shrink: 0;
    overflow-y: auto;
    border-left: 1px solid var(--dark_gray);
    background-color: var(--gray);
    margin: 0;
}


/*MAIN*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.layout {
    display: flex;
    flex: 1;
    overflow: hidden;
}


main {
    flex: 1;
    overflow-y: auto;
    background-color: var(--light_Gray);
    display: flex;
    flex-direction: column;
}


/*FOOTER*/
footer {
    background-color: var(--nav_color);
    color: white;
    text-align: center;
    padding: 0.5rem;
    flex-shrink: 0;
    font-size: 0.8rem;
}

main footer {
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
}