/* h1-h4, p, blockquote, ul, figcaption */

/*TITULOS*/
h1, h2, h3, h4 {
    font-family: 'Space Grotesk', sans-serif;
    padding: 0.5rem 1rem;
    text-align: center;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 130%;
}


/*PARAGRAFOS*/
p {
    line-height: 1.3;
    text-indent: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: justify;
}


/*LISTAS*/
ul {
    line-height: 1.3;
    margin: 0em 4em;
}

.ul-main-content {
    line-height: 1.3;
    font-weight: 400;
    margin: 0em 4em;
}

.ul-toc {
    line-height: 1.3;
    font-weight: 400;
    margin: 0em 4em;
}


/*SITAÇÃO*/
blockquote {
    font-family: 'Lora', serif;
    font-style: italic;
    border-left: 4px solid var(--dark_gray);
    padding: 0.5rem 1rem;
    margin: 1rem 2rem;
    color: #444;
}

blockquote footer {
    font-style: normal;
    font-size: 0.85rem;
    color: #666;
    margin-top: 0.5rem;
    background-color: transparent; /* evita herdar o estilo do footer principal */
    padding: 0;
    text-align: right;
}


/*FIGCAPTION*/
figcaption {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    font-size: 0.85rem;
    color: var(--figcaption_color);
    padding: 0.3rem 0;
}